
body 
{
  	background: url(bg.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;*/
  	-moz-background-size: cover;
  	background-size: cover;
  	font-family: 'Montserrat', sans-serif;
}

h1 {
	color: #222672;
	font-size:50px;
	font-weight: normal;
	margin-bottom: 0;
	margin-top: 0;
	border-color: 
}

h2 {
	color: #222672;
	font-size: 18px;
	margin-top: 0;
}

.bio {
	color: #f9f5a4;
	font-size: 14px;
}

.me {
	height: 150px;
	border-radius: 45%;
	border-style: solid;
	border-color: white;
	border-width: 5px;
	margin-top: 40px;
}

.about {
	width: 400px;
	margin-left:auto;
	margin-right: auto;
	text-align:center;
}

.grey {
	height: 7px;
	background-color: #ffffff;
	border:none;
	width: 50px;
	margin-top: 0;
}